body {
    background-color: rgb(116, 7, 7);
}

.header {
    background-color: black;
    padding: 3px;
    display: flex;
    border-radius: 20px;
    height: 85px;
}

.forum {
    color: white;
    margin-left: 2%;
    font-size: 3em;
    display: flex;
    margin-top: 1%;
    margin-left: 4.5%;
    text-decoration: none;
}

.topics {
    color: white;
    display: flex;
    margin-top: 1.5%;
    margin-left: 8%;
    font-size: 2.3em;
    text-decoration: none;
    transition: all 0.3s ease-in-out; /* Animation douce pour le survol */
            animation: neon-flicker 1.5s infinite;
}

.liste {
    color: white;
    display: flex;
    margin-top: 1.5%;
    margin-left: 8%;
    font-size: 2.3em;
    text-decoration: none;
}

.Utilisateurs {
    color: white;
    display: flex;
    margin-top: 1.5%;
    margin-left: 8%;
    font-size: 2.3em;
    text-decoration: none;
}
