body {
    background-color: rgb(116, 7, 7);
}

.header {
    background-color: black;
    padding: 3px;
    display: flex;
    border-radius: 20px;
    height: 85px;
}

.forum {
    color: white;
    margin-left: 2%;
    font-size: 3em;
    display: flex;
    margin-top: 1%;
    margin-left: 4.5%;
    text-decoration: none;
}

.forum:hover{
    text-shadow:  
    0 0 2px #fff,  
    0 0 5px rgba(255, 255, 255, 0.6),  
    0 0 10px rgba(110, 109, 121, 0.5);

}

.topics {
    color: white;
    display: flex;
    margin-top: 1.5%;
    margin-left: 8%;
    font-size: 2.3em;
    text-decoration: none;
    transition: all 0.3s ease-in-out; /* Animation douce pour le survol */
            animation: neon-flicker 1.5s infinite;
}
.topics:hover{
    text-shadow:  
    0 0 2px #fff,  
    0 0 5px rgba(255, 255, 255, 0.6),  
    0 0 10px rgba(110, 109, 121, 0.5);

}

.liste {
    color: white;
    display: flex;
    margin-top: 1.5%;
    margin-left: 8%;
    font-size: 2.3em;
    text-decoration: none;
}

.liste:hover{
    text-shadow:  
    0 0 2px #fff,  
    0 0 5px rgba(255, 255, 255, 0.6),  
    0 0 10px rgba(110, 109, 121, 0.5);

}

.Utilisateurs {
    color: white;
    display: flex;
    margin-top: 1.5%;
    margin-left: 8%;
    font-size: 2.3em;
    text-decoration: none;
}

.Utilisateurs:hover{
    text-shadow:  
    0 0 2px #fff,  
    0 0 5px rgba(255, 255, 255, 0.6),  
    0 0 10px rgba(110, 109, 121, 0.5);

}

.login {
    color: white;
    display: flex;
    margin-top: -1.6%;
    margin-left: 6%;
    font-size: 2.2em;
}

.login:hover{
    text-shadow:  
    0 0 2px #fff,  
    0 0 5px rgba(255, 255, 255, 0.6),  
    0 0 10px rgba(110, 109, 121, 0.5);

}