body {
    background-image: url(../assets/fondinsption.jpg);
    
}

.box {
    width: 750px;
    height: 550px;
    background-color: rgb(51, 51, 52);
    color: transparent;
    display: flex;
    justify-content: flex;
    align-items: flex;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 10%;
    margin-left: 15%;
    gap: 10px;
    flex-direction: row;

}

.box:hover {
    box-shadow: 0 0 20px rgb(245, 159, 39), 0 0 10px rgb(245, 159, 39), 0 0 25px rgb(245, 159, 39); /* Effet néon */

}

h1 {
    color: white;
    font-size: 2.7em;
    display: flex;
    margin-top: -31%;
    margin-left: 31%;

}

h2{
    color: white;
    font-size: 1.9em;
    display: flex;
    margin-top: -1%;
    margin-left: 24%;

}


 form {
    background-color: transparent#fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    margin-left: 22.5%;
    margin-top: -1%;
    
  }
  
  form label {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style des champs de saisie */
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Style du bouton de soumission */
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  